{{/*###
TitleBar=Change Clan Name
KyutGrill=settings2.jpg
Include=menu.html
*/}}
{{ define "tpl" }}
<div class="ui container">
        <div class="ui stackable grid">
                {{ template "settingsSidebar" . }}
                <div class="twelve wide column">
                        <div class="ui segment">
                                <form class="ui form" method="post">
                                        <div class="field">
                                                <label>{{ .T "Change Clan Name" }}</label>
                                                <input tabindex="1" type="text" name="gantinamaclan" value="{{ or .FormData.gantinamaclan .RequestInfo.name }}">
                                        </div>
                                        {{ ieForm .Gin }}
                                        <div style="text-align: right">
                                                <button tabindex="4" type="submit" class="ui blue button">{{ .T "Save" }}</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</div>
{{ end }}
