{{/*###
TitleBar=Stop !
HeadingTitle=Stop!
KyutGrill=stop_sign.png
HeadingOnRight=true
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui raised segments">
		<div class="ui segment">
			{{ $ipdia := .RequestInfo.Alamat_ip }}
			<h1 style="font-size: 5em">Access Denied</h1>
			<p style="font-size: 3em">Hi fellow creature who had interest on us, apparently I, Yohane, could not grant the access
			from the place were you came from, which says <span style="font-size: 6em; font-weight: 727">{{ $ipdia }}</span> in here, This does not qualifies into
			our prerequisites of which all those creatures came from.</p>
			<em style="font-size: 6em">tl;dr haha blocked.</em>
		</div>
	</div>
</div>
{{ end }}
