{{/*###
TitleBar=Stop !
HeadingTitle=Stop!
KyutGrill=stop_sign.png
HeadingOnRight=true
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui raised segments">
		<div class="ui segment">
			{{ $ipdia := .RequestInfo.Alamat_ip }}
			<h1>Access Denied</h1>
			<p>Hi fellow creature who had interest on us, apparently I, Yohane, could not grant the access
			from the place were you came from, which says {{ $ipdia }} in here, This does not qualifies into
			our prerequisites of which all those creatures came from.</p>
			<em>tl;dr haha blocked.</em>
		</div>
	</div>
</div>
{{ end }}
