{{/*###
TitleBar=Elmo! Stop!
HeadingTitle=Stop!
KyutGrill=stop_sign.png
HeadingOnRight=true
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui raised segments">
		<div class="ui segment">
			{{ $username := .RequestInfo.Username }}
			<img src="https://cdn.troke.id/static/jack_black.jpg" class="ui small right floated image" alt="Jack black">

			<p>{{ .T "Wah kamu berani sekali ya! disini keliatan kok kamu sudah terdaftar sebagai %s! Tolong jangan multi-account, itu akan membuatmu menderita dan sampai akhir hayatmu!" $username }}</p>

			<ul>
				<li>
					{{ .T "Jika kamu adalah %s, tolong diingat bahwa hukuman multiaccount = ban." $username }}
				</li>
				<li>
					{{ .T "Jika kamu bukan %s, tapi menggunakan komputer milik %s, sebaiknya jangan! Tolong daftar di komputer kalian masing-masing!" $username $username }}
				</li>
				<li>
					{{ .T "Jika kamu tinggal dengan %s dan tidak memiliki komputer untuk mendaftar, silahkan kontak staff pada discord!" $username }}
				</li>
			</ul>
			
			<p>
				{{ .T "Peringatan ini muncul jika kamu menggunakan komputer lain yang berada pada jaringan yang sama dengan %s. Setidaknya tidak menggunakan komputer yang sama, kamu akan aman." $username }}
			</p>
			<p style="margin-bottom:40px;">
				<a href="/register?stopsign=1" class="camouflaged">{{ .T "Jika kamu mengerti maksud yang diatas dan menerima konsekuensinya, kamu boleh menekan link ini untuk melanjutkan ke halaman pendaftaran." }}</a> 
			</p>
		</div>
		<div class="ui right aligned segment">
			<div class="ui buttons">
				<a tabindex="1" class="ui labeled blue icon button" href="/">
					<i class="left chevron icon"></i>
					{{ .T "Tetap kembali!" }}
				</a>
			</div>
		</div>
	</div>
</div>
{{ end }}
