{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "Akun kalian sudah dibuat, tapi <b>membutuhkan verifikasi! Tolong login ke dalam game menggunakan akun kalian untuk memverifikasi otomatis</b>. <u>Tidak ada email verifikasi! Semuanya dilakukan melalui in-game verification!</u> Jika kalian mengalami masalah hubungi staff melalui discord atau <a href='/doc/1'>gunakan petunjuk ini</a>." | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'>Jangan biarkan orang lain login dengan akun-mu!</b><br> Klik <a href='%s'>Discord server's</a> dan pergi ke channel #help ketika kalian mengalami masalah pada pendaftaran!" (config "DiscordServer") | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "<a href='/doc/1'>Petunjuk</a>" | html }}</h1>
		<ol class="ui list">
			<li><a href='{{ .T "https://osu.troke.id/switcher" }}'><b>{{ .T "Download the server switcher" }}</b></a></li>
			<li>{{ .T "Sangat direkomendasikan menggunakan 2 folder osu terpisah yaitu Bancho dan Private Server agar terhindar dari sesuatu yang tidak diinginkan!" | html }}</li>
			<li>{{ .T "Extract lalu buka dan jalankan <b>sebagai administrator</b>" | html }}</li>
			<li>{{ .T "Klik dropdown <b>pilih Datenshi</b>, lalu <b>Connect</b>" | html }}</li>
			<li>{{ .T "Pastikan switcher sudah terkoneksi dengan <b>Datenshi</b> server, untuk kembali ke Bancho silahkan <b>Pilih kembali dropdown dan cari Bancho</b>" | html }}</li>
			<li>{{ .T "Selamat bermain!" | html }}</li>
		</ol>
		<p>
			{{ .T "Jika kalian masih mengalami masalah pada koneksi, silahkan join <a href='%s'>Discord server's</a> dan menuju #help channel untuk mendapatkan bantuan mengenai masalah pada koneksi." (config "DiscordServer") | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Menunggu verifikasi" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
