{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "Your account has been created, however it still <b>needs to be verified!</b> Please log in into <b><u>osu! (the game)</u></b> using your account. <b>There is <u>no email confirmation</u> at the moment. All you need to do is connect to Datenshi! from the osu! client!</b> If you're having trouble, <a href='/doc/1'>follow this guide</a>." | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'>Do not let anyone except yourself log into your Datenshi! account!</b><br> Get on our <a href='%s'>Discord server's</a> #issues-help channel instead (after following the steps on this page) so that we can help you out if you have trouble connecting." (config "DiscordServer") | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "<a href='/doc/1'>Guide Connecting to Datenshi</a>" | html }}</h1>
		<ol class="ui list">
			<li>{{ .T "Copy your osu! icon" | html }}</li>
			<li>{{ .T "Paste anywhere as Shortcut" | html }}</li>
			<li>{{ .T "Then right-click on the shortcut you created, choose Properties" | html }}</li>
			<li>{{ .T "Look on the Target, you just add `-devserver troke.id` behind them" | html }}</li>
			<li>{{ .T "Click OK then enjoy play!" | html }}</li>
			<li>{{ .T "**If you still dont understand, you can click Guide Connecting to Datenshi theres a guide with Image" | html }}</li>
		</ol>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Waiting verification, please login to the game!" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
