{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		{{/* Dirty hack to detect if it's a multi */}}
		{{ if eq .TitleBar (.T "Selamat Datang!") }}
			<div class="ui segment">
				{{ .T "Selamat karena tidak membaca!" }}
			</div>
			<div class="ui center aligned segment">
				<h1 class="ui heading">{{ .T "Multiaccount dilarang disini!" }}</h1>
			</div>
			<div class="ui segment">
				{{ .T "Akun baru kamu sudah <b>di banned</b> dan akun utama kamu sudah <b>di restrict</b>. Hubungi staff untuk appeal di discord channel. Lain kali baca rules!" | html }}
			</div>
		{{ else }}
			<div class="ui segment">
				<h1 class="ui heading">{{ .T "Selamat datang kembali!" }}</h1>
			</div>
			<div class="ui segment">
				<p>{{ .T "Kami senang kalian disini. <b>Akun kalian sudah aktif.</b> Kalian dapat bermain di Datenshi! dan <a href='/login'>login</a> ke website!" | html }}</p>
				<p>{{ .T "Berikut ini yang mungkin kalian bisa perhatikan:" }}</p>
				<ul class="ui list">
					<li><b><a href="/login">{{ .T "Login" }}</a></b>{{ .T " - mungkin tidak tau dimana login atau buta, bisa klik ini" }}</li>
					<li><b><a href="/doc/rules">{{ .T "Rules" }}</a></b>{{ .T " - baca peraturan ini penting, ntar awas aja" }}</li>
					<li><b><a href="/doc">{{ .T "Documentation" }}</a></b>{{ .T " - dokumentasi-dokumentasi yang mungkin dapat membantu" }}</li>
					<li><b><a href="{{ .Conf.DiscordServer }}">{{ .T "Discord" }}</a></b>{{ .T " - discord cok!" }}</li>
					<li><b><a href="https://cdn-2.tstatic.net/aceh/foto/bank/images/daun-ganja_20170824_160705.jpg">{{ .T "Ganja Aceh" }}</a></b>{{ .T " - ganja aceh" }}</li>
				</ul>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
