{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		{{/* Dirty hack to detect if it's a multi */}}
		{{ if eq .TitleBar (.T "Welcome!") }}
			<div class="ui segment">
				{{ .T "Congratulations for not reading things!" }}
			</div>
			<div class="ui center aligned segment">
				<h1 class="ui heading">{{ .T "Multiaccount not allowed here!" }}</h1>
			</div>
			<div class="ui segment">
				{{ .T "Your new account has been <b>banned</b> and your main account has been <b>restricted</b>. You can appeal in a month by sending an appeals to Discord Channel. You better read the rules next time." | html }}
			</div>
		{{ else }}
			<div class="ui segment">
				<h1 class="ui heading">{{ .T "Welcome back!" }}</h1>
			</div>
			<div class="ui segment">
				<p>{{ .T "We're glad to have you here. <b>Your account is now active.</b> You can now play on Datenshi! and <a href='/login'>log in</a> on the website!" | html }}</p>
				<p>{{ .T "Here's a few things you might want to check out" }}</p>
				<ul class="ui list">
					<li><b><a href="/login">{{ .T "Login" }}</a></b>{{ .T " - login to the website!" }}</li>
					<li><b><a href="/doc/rules">{{ .T "Rules" }}</a></b>{{ .T " - read our rules! very important!" }}</li>
					<li><b><a href="/doc">{{ .T "Documentation" }}</a></b>{{ .T " - all list our documentations" }}</li>
					<li><b><a href="{{ .Conf.DiscordServer }}">{{ .T "Discord" }}</a></b>{{ .T " - discord!" }}</li>
					<li><b><a href="https://cdn-2.tstatic.net/aceh/foto/bank/images/daun-ganja_20170824_160705.jpg">{{ .T "Ganja Aceh" }}</a></b>{{ .T " - Indonesian Weed for better pp" }}</li>
				</ul>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
