{{/*###
Handler=/clans
TitleBar=Clans
KyutGrill=leaderboard2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{ $favMode := _or (atoi (.Gin.Query "mode")) | int }}
	{{ $spMode := _or (atoi (.Gin.Query "smode")) | int }}
	<script>
		var favouriteMode = {{ $favMode }};
		var page = {{ .Gin.Query "p" | atoint | atLeastOne }};
	</script>
	<div class="ui two item menu" id="mode-menu">
			<a class="0 item" href="/clans?mode={{ $favMode }}&smode=0">Vanilla</a>
			<a class="1 item" href="/clans?mode={{ $favMode }}&smode=1">Relax</a>
	</div>
	<div class="ui four item menu" id="mode-menu">
			<a class="0 item" href="/clans?mode=0&smode={{ $spMode }}">osu!</a>
			<a class="1 item" href="/clans?mode=1&smode={{ $spMode }}">osu!taiko</a>
			<a class="2 item" href="/clans?mode=2&smode={{ $spMode }}">osu!catch</a>
			<a class="3 item" href="/clans?mode=3&smode={{ $spMode }}">osu!mania</a>
	</div>
	<table class="ui fixed unstackable table">
		<thead>
			{{ template "simplepag" 4 }}
			<tr>
				<th class="four wide">{{ .T "Rank" }} </th>
				<th class="four wide">{{ .T "Clan" }} </th>
				<th class="four wide">{{ .T "PP/Score" }} </th>
				<th class="four wide">{{ .T "Playcount" }} </th>
			</tr>
	</table>
	<table class="ui compact unstackable table">
		<thead>
		{{ range (.Get "clans/stats/all?m=%d&sm=%d" $favMode $spMode).clans }}
			{{ if .name }}
			<tr>
				<th class="four wide">#{{ .rank }} </th>
				<th class="four wide"> <a href="/c/{{ .id }}?mode={{ $favMode }}&smode={{ $spMode }}">{{ .name }}</a></th>
				<th class="four wide">{{ humanize .chosen_mode.pp }}pp ({{ humanize .chosen_mode.total_score }})</th>
				<th class="four wide">{{ humanize .chosen_mode.playcount }}</th>
			</tr>
			{{end}}
			{{end}}
			</thead>
	</table>
</div>
{{ end }}
