{{/*###
NoCompile=true
*/}}
{{ define "clanGroup" }}
{{ with . }}
        <div class="ui five column stackable grid">
                {{ $teamJSON := teamJSON }}
                {{ range .members }}
                        {{/* ignore fokabot */}}
                        {{ if ne (int .id) 999 }}
                                {{ $tj := index $teamJSON (print .id)}}
                                <div class="column">
                                        <h4 class="ui image header">
                                        <img src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar" class="ui mini rounded image">
                                                <div class="content">
                                                        <a href="/u/{{ .id }}">{{ country .country false }}{{ .username }}</a>
                                                </div>
                                        </h4>
                                </div>
                        {{ end }}
                {{ end }}
        </div>

{{ end }}
{{ end }}
