{{ define "tpl" }}
<div class="ui container">
        <div class="ui segments">
                <div class="ui segment">
	                <div class="ui center aligned">
                        <form action="/discordtokens/generate" method="POST">
                                {{ ieForm .Gin }}
                                <button tabindex="1" type="submit" class="ui right blue button">
                                        {{ .T "Generate a new token!" }}
                                </button>
                        </form>
			</div>


						<h1>1. Tekan tombol Generate new token yang ada diatas</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314612522876928/unknown.png">
						<h1>2. Dan kalian akan mendapatkan sebuah token (**INGAT JANGAN SHARE TOKEN KALIAN PADA YANG LAIN!!)</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314914462433390/unknown.png">
						<h1>3. Kemudian pergi ke <a href="https://link.troke.id/datenshi">Discord Datenshi</a>, Lalu klik Official Bot kami bernama "Yohane" dan klik "Send Message"</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310487592796190/unknown.png">
						<h1>4. Gunakan command @verify (token)</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310997510848522/unknown.png">
						<h1>5. Selamat kalian sudah bisa mengakses seluruh channel! Enjoy have fun!!</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742311081933930536/unknown.png">
                </div>
        </div>
</div>
{{ end }}

