{{/*###
Handler=/discordtokens
TitleBar=Discord Tokens
MinPrivileges=2
*/}}
{{ define "tpl" }}
<div class="ui container">
        <div class="ui segments">
                <div class="ui segment">
                        <p>Hi, Welcome, this page is for generating new token discord, We are using this for filtering some users join our discord server, if you want to join our discord, use this
for verify, Remember this is not verify your account, this is "HOW TO GET THE ROLES FOR ACCESS OUR FULL CHANNEL"</p>
	                <div class="ui center aligned">
                        <form action="/discordtokens/generate" method="POST">
                                {{ ieForm .Gin }}
                                <button tabindex="1" type="submit" class="ui right blue button">
                                        {{ .T "Generate a new token!" }}
                                </button>
                        </form>
			</div>


						<h1>1. Click on the Generate a New Token Button</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314612522876928/unknown.png">
						<h1>2. And then you will be get new token, (**DO NOT SHARE THIS TOKEN WITH OTHERS!)</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314914462433390/unknown.png">
						<h1>3. next, go to the our <a href="https://link.troke.id/datenshi">Discord</a>, Click on the our Official Bot, "Send Message"</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310487592796190/unknown.png">
						<h1>4. Use command @verify (your token)</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310997510848522/unknown.png">
						<h1>5. You will see the final messages from the bot, and then you can access our full channels! Enjoy!</h1>
						<img src="https://cdn.discordapp.com/attachments/408950289962369025/742311081933930536/unknown.png">
                </div>
        </div>
</div>
{{ end }}

