{{ define "tpl" }}
<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
	        <div class="ui center aligned">
                <form action="/discordtokens" method="POST">
                    {{ ieForm .Gin }}
                    <button tabindex="1" type="submit" class="ui right blue button">
                        {{ .T "Generate a new token!" }}
                    </button>
                </form>
			</div>
			<h1>1. Press the Generate Buttons</h1>
			<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314612522876928/unknown.png">
			<h1>2. And you will got a token (**Remember!! Do not share your token to public!)</h1>
			<img src="https://cdn.discordapp.com/attachments/408950289962369025/742314914462433390/unknown.png">
			<h1>3. Then go to our <a href="https://link.troke.id/datenshi">Discord Datenshi</a>, Then click our Official Bot called "Yohane" and press Send Messages</h1>
			<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310487592796190/unknown.png">
			<h1>4. Use the command @verify (token)</h1>
			<img src="https://cdn.discordapp.com/attachments/408950289962369025/742310997510848522/unknown.png">
			<h1>5. Congratulations you are verified and you will see all channels! Enjoy have fun!!</h1>
			<img src="https://cdn.discordapp.com/attachments/408950289962369025/742311081933930536/unknown.png">
        </div>
    </div>
</div>
{{ end }}
