{{/*###
Handler=/topdonors
TitleBar=Donators
KyutGrill=donate2.png
*/}}
{{ define "tpl" }}
<div class="ui container">
<div class="ui stackable grid">
            <div class="wide column">
                <div class="ui pink segment">
                    <h3 class="ui header">{{ .T "Top donators" }}</h3>
                    {{ with .Get "hmrapi/topdonors" }}
                        <div class="ui four column stackable grid">
                            {{ range .users }}
                                <div class="ui column">
                                    <h4 class="ui image header">
                                        <img src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar of donater {{ .id }}" class="ui mini rounded image">
                                        <div class="content">
                                            <a href="/u/{{ .id }}">{{ .username }}</a>
                                            <div class="sub header">
                                                {{ $.T "Expires in <b>%s</b>" (time .expiration) | html }}
                                            </div>
                                        </div>
                                    </h4>
                                </div>
                            {{ end }}
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
</div>
{{ end }}

