{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
<div class="ui center aligned segment">
	<img src="/static/logos/datenshi.png">
</div>
{{ $set := systemSettings "website_home_alert" }}
{{ with $set.website_home_alert.String }}
	<div class="ui warning message">
		{{ . | html }}
	</div>
{{ end }}
{{/* Not logged in block */}}
{{ if not .Context.User.ID }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Welcome to Datenshi!" }}</h1>
		<p>
			{{ .T "Welcome to the first Indonesian osu! Private Server, We are welcoming everyone in the world to join our server, you can make this server as your home, specially for indonesian people, we are still growing for making it better, lets join to our Community on Discord!. Currently we have  %s users online and %s total registered users!</b>" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
		</p>
		<h3 class="ui header center aligned">{{ .T "What are you waiting for? come and join us!!" | html }}
		<br>
		<br>
		<a href="/register"><div class="ui button">Register</div></a>
		<a href="https://link.troke.id/datenshi"><div class="ui instagram button">Discord</div></a><h3>
	</div>
{{ else }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Halo sayang, %s!" .Context.User.Username }}</h1>
		<p>
			{{ .T "Welcome back to Datenshi, are you still having problem with us? dont worry, we can help you as we can, just go on Discord Server! Currently we have <b>%s online users and %s total registered users.</b> it's a great day for farm right??" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
		</p>
	</div>
	{{ end }}
<div class="ui segments">
	<div class="ui segment">
	<h1 class="ui header">{{ "Featured Video" }}</h1>
	</div>
	{{ $set := systemSettings "featuredvideo" }}
	{{ with $set.featuredvideo.String }}
        <div class="ui segment">
        {{ . | html }}
        </div>
	{{ end }}
</div>
{{ end }}
