{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
{{/* CSS Zone */}}
<style>
	.status {
		display: flex;
		font-size: 14px;
		font-weight: 500;
		z-index: 3;
		position: absolute;
		-webkit-transform: translateY(-100px) translateX(5px);
		transform: translateY(-100px) translateX(5px);
		padding: 2px 10px;
		color: #fff;
		margin-left: 5px;
		border-radius: 20px;
		background: rgba(0,0,0,.6);
	}
</style>
{{/* End CSS */}}
<div class="ui container">
<div class="ui center aligned segment">
	<img src="/static/logos/ainu.png">
</div>
{{ $set := systemSettings "website_home_alert" }}
{{ with $set.website_home_alert.String }}
	<div class="ui warning message">
		{{ . | html }}
	</div>
{{ end }}
{{/* Not logged in block */}}
{{ if not .Context.User.ID }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Selamat Datang di Datenshi!" }}</h1>
		<p>
			{{ .T "Kamu adalah pendatang, silahkan register untuk bermain!" }}
		</p>
		<p>
			{{ .T "Datenshi osu! Private Server, tersedia Multiplayer, PP System, Relax System, dan Clans. Kamu juga bisa melihatnya di <a href='/about'>about.</a> untuk lebih lanjut. Kita punya komunitas, silahkan gabung ke Discord kami, Sebagai informasi tambahan untukmu, <b>saat ini kita memiliki total  %s user online dan %s user terdaftar!</b>" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
		</p>
		<h3 class="ui header center aligned">{{ .T "Apalagi yang kamu tunggu? mari bergabung ke Datenshi!! <br>Kamu juga bisa bertukar official server atau Datenshi Server kapanpun!!" | html }}</h3>
	</div>
{{ else }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Halo cok, %s!" .Context.User.Username }}</h1>
		<p>
			{{ .T "Selamat Datang ke Datenshi! Saat ini kita memiliki total <b>%s online user dan %s total user terdaftar.</b> Sangat bagus untuk farming pp right?" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
		</p>
	</div>
	{{ end }}
{{ end }}
