{{/*###
Handler=/live
TitleBar=Live
KyutGrill=leaderboard2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
<div class="ui stackable grid">
            <div class="wide column">
                <div class="ui pink segment">
                    <h3 class="ui header">{{ .T "Live" }}</h3>
		     <iframe src="https://player.twitch.tv/?channel=trokearts&parent=datenshi.xyz" frameborder="0" allowfullscreen="true" scrolling="no" height="578" width="100%"></iframe><iframe
  id="chat_embed"
  src="https://www.twitch.tv/embed/trokearts/chat?parent=datenshi.xyz"
  height="500"
  width="100%">
</iframe>
                </div>
            </div>
        </div>
</div>
{{ end }}

