{{/*###
Handler=/recruitment
TitleBar=Recruitment
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
        <div class="ui segment">
		
			<img class="ui centered image" src="/static/img/crot.png">
			
			<div class="ui divider"></div>		
			<h1>Community Manager</h1>
			<li>Min 17 years and above</li>
			<li>Have a good communication skills</li>
			<li>Able to manage a whole of community</li>
			<li>Have Discord Account</li>
			<li>Have Datenshi Account (at least 25 days registered)</li>
			<li>Can Speak Bahasa and English</li>
			<li>Have an experience about osu! private servers</li>
			<p>**need : 1</p>
			
			<h1>Chat Moderators</h1>
			<li>Min 17 years and above</li>
			<li>Very Active is main point</li>
			<li>Have a good attitude</li>
			<li>Have a good communication skills</li>
			<li>Able to Helping each others</li>
			<li>Have an experience about osu! private servers</li>
			<li>Have Discord Account </li>
			<li>Have Datenshi Account (at least 25 days registered)</li>
			<li>Can Speak Bahasa and English</li>
			<p>**need : 5</p>			

			<h1>Beatmap Nominators</h1>
			<li>Have 3 or more ranked maps in Official Server. If you don't have any, you must have mapping or charting experience for at least 2 years.</li>
			<li>Understanding the Criteria Rules at Datenshi</li>
			<li>Can check Beatmaps Requests periodically</li>
			<p>**need : std(1), taiko(2), ctb(2)</p>
			

			<h1>Replay Watchers</h1>
			<li>Can make analysis about suspicious users</li>
			<li>Able to monitoring suspicious users</li>
			<li>Making reports to Chat Mod or Com Manager</li>
			<li>Ex-cheater</li>
			<p>**need : 4</p>

			<div class="ui divider"></div>
			<h1>Register</h1>
			<p>Register : <a href="https://forms.gle/WRep7DQYSuou3pgRA">https://forms.gle/WRep7DQYSuou3pgRA</a></p>
			<p>Status : OPEN</p>
			<p>Please contact on Discord for more information</p>
		
        </div>
</div>
{{ end }}

