{{/*###
Handler=/switcher
TitleBar=Switcher
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
        <div class="ui cards">
		<div class="ui centered purple card">
			<a class="image" href="https://cdn.discordapp.com/attachments/408950289962369025/728237514531536976/unknown.png">
   	 		<img class="ui massive image" src="https://cdn.discordapp.com/attachments/408950289962369025/728237514531536976/unknown.png">
  			</a>
    			<div class="content">
      			<div class="header">Ultimate Osu Server Switcher</div>
     		 	<div class="description">Ultimate Osu Server Switcher - is new modern and friendly switcher! This switcher can switch with other server easily! This program made by <a href="https://github.com/MinisBett">MinisBett</a></div>
    		</div>
    			<a href="https://github.com/MinisBett/ultimate-osu-server-switcher/releases/latest"><div class="ui inverted violet bottom attached button">
      			<i class="download icon"></i>
      			Download
    			</div></a>
  		</div>
		<div class="ui centered purple card">
                        <a class="image" href="https://cdn.discordapp.com/attachments/408950289962369025/728243099385725029/unknown.png">
                        <img class="ui massive image" src="https://cdn.discordapp.com/attachments/408950289962369025/728243099385725029/unknown.png">
                        </a>
                        <div class="content">
                        <div class="header">Datenshi Server Switcher</div>
                        <div class="description">This is our server switcher based on ripple server switcher! you can test the server with this</div>
                </div>
                        <a href="https://link.troke.id/switcher"><div class="ui inverted violet bottom attached button">
                        <i class="download icon"></i>
                        Download
                        </div></a>
                </div>

        </div>
	</div>
</div>
{{ end }}

