{{/*###
NoCompile=true
*/}}
{{ define "userGroup" }}
{{ with . }}
	<div class="ui five column stackable grid">
		{{ $teamJSON := teamJSON }}
		{{ range .members }}
			{{/* ignore fokabot */}}
			{{ if ne (int .id) 999 }}
				{{ $tj := index $teamJSON (print .id)}}
				<div class="column">
					<div class="ui left aligned fluid card">
					<div class="image">
                                		<img src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar" class="ui mini rounded image">
                                	</div>	
					<div class="content">
                               	 		<a class="header" href="/u/{{ .id }}">{{ country .country false }}{{ .username }}</a>
                                	</div>
					</div>
                                </div>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
{{ end }}
